* {
    margin: 0;
    padding: 0;
}

#keyboard {
    width: 100%;
    background-color: aquamarine;
    
    position: absolute;
    bottom: 0;
}

#keyboard .row {
    text-align: center;
}

#keyboard .row button {
    background-color: burlywood;
    text-decoration: none;
    border: none;
    width: 30pt;
    height: 30pt;
    display: inline-block;
    border: 1px solid red;
    padding: 10pt;
    margin-top: 4pt;
}
#keyboard .row button:active {
    background-color: blue;
}

.keyboardRow { text-align:center }
.key { display:inline-block; border:1px solid red; padding:10px;margin-bottom:5px; }